<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{subject}}</title>
  </head>
  <body>
    <header>
      Buddy Brno
    </header>

    <section class="content">
      {{> (html-partial type) params}}
    </section>
  </body>
</html>

